@using TODO_V2.Client.Data
@using TODO_V2.Shared.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms

@using TODO_V2.Client.Pages
@using TODO_V2.Shared

@inject HttpClient Http
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" StackLength="5" Placement="ToastsPlacement.TopRight" />

<div class="main-box">  
    <form>
        <div class="core-box">
            <input autofocus type="text" name="" required="true" @bind="TaskName" @bind:event="oninput" style="border: 2px solid @DescripcionColor; box-shadow: 0 3px 26px @DescripcionColor;" @onkeyup="ValueChangeHandler">
            <label>Descripcion de la tarea</label>
        </div>
  
        <div class="core-box">
            <select @bind="@TaskCategory" id="category" name="categoria">
                <option value="0" disabled selected hidden>Categoria</option>
                @foreach (var categoryId in CategoryDictionary.categoryDictionary.Keys)
                {
                    <option value="@categoryId">@CategoryDictionary.GetCategoryName(categoryId)</option>
                }
            </select>
            <label for="category">Categoria</label>
        </div> 

        <div class="core-box">
            <input type="date"
                   id="expirationDateInput"
                   name="meeting-time"
                   @bind-value="@ExpirationDate"
                   min="@ExpirationDate" />            
            <label for="expirationDateInput">Fecha de expiración</label>
        </div>

        <div class="core-box">             
            <select @bind="@StateId" id="status" name="estado">
                <option value="" disabled selected hidden>Estado de la tarea</option>
                <option value="1">Pendiente</option>
                <option value="2">En proceso</option>
                <option value="3">Finalizada</option>
                <option value="4">Cancelada</option>
            </select>     
            <label for="status">Estado de la tarea</label>
        </div>
        <button type="button" class="button-style" @onclick="OnClickClose">
            Salir
        </button>
        <button type="button" class="button-style" @onclick="OnClickAceptar">           
            Aceptar
        </button>
       
    </form>
</div>

<style>
    div.core-box > select + label {
        top: -5px !important;
        left: 12px !important;
        color: #03e9f4 !important;
        font-size: 14px !important;
    }
</style>
